__.DS_Store
app/__pycache__/
app/__pycache__/__init__.cpython-311.pyc
app/__pycache__/__init__.cpython-39.pyc
app/__pycache__/forms.cpython-311.pyc
app/__pycache__/forms.cpython-39.pyc
app/__pycache__/models.cpython-311.pyc
app/__pycache__/models.cpython-39.pyc
app/__pycache__/routes.cpython-311.pyc
app/__pycache__/routes.cpython-39.pyc
app/static/



