time {
    font-size: 13px;
}
h1{
    text-align: center;
}
.container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}
.table {
    margin-left: 10 40;
    margin-right: 20;
}

.image-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
}

.image-container2 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
}

.friend {
    font-size:20px;
}

.dropdown{
    margin-right: 10px;
}