.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.centered2 {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    margin: 0 auto;
}

.image-container {
    height: 100vh;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img{
    align-items: center;
}