<button class="back-button" onclick="window.history.back()">Back</button>

<h1>Bookmarks</h1>
<!--<p>{{ bookmarked_message.content }}</p> !-->

  <!--{% for bookmark in bookmarking %}
    <div class="message">
      <p><strong>To:</strong> {{ bookmark.recipient.username }}</p>
      <p><strong>Subject:</strong> {{ bookmark.subject }}</p>
      <p><strong>Date:</strong> {{ bookmark.timestamp.strftime('%Y-%m-%d %I:%M %p') }}</p>
      <td><a href="{{ url_for('message', message_id=message.id) }}">View Message</a></td>
      <br>
      <br>
    </div>

    {% endfor %} !-->