{% extends 'base.html' %}

{% block content %}
  <h1>Change Password</h1>
  <button class="back-button" onclick="window.history.back()">Back</button>
<br><br>
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.email.label }}<br>
      {{ form.email(size=32)}}
    </div>
    <div>
      {{ form.password.label }}<br>
      {{ form.password(size=32)}}
    </div>
    <div>
      {{ form.new_password.label }}<br>
      {{ form.new_password(size=32) }}
    </div>
    <div>
      {{ form.submit }}
    </div>
  </form>
{% endblock %}