<form action="{{ url_for('mainpage') }}">
    <button type="submit">Back</button>
</form>
<form action="" method="post" novalidates>
    {{form.hidden_tag()}}
    <p> {{form.recipient.label}} <br>
        {{form.recipient(size=32)}}</p>
    
    <p> {{form.subject.label}} <br>
        {{form.subject(size=32)}}</p>
    
        <p> {{form.body.label}} <br>
        {{form.body(rows='10',cols='65')}}
    </p>
    
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}


        <p>{{form.submit()}}</p>
</form>





