<!doctype html>
<html>
  <head>
    <title>Friend List</title>
  </head>
  <body>
    <form action="{{ url_for('mainpage') }}">
      <button type="submit">Back</button>
  </form>
    <h1>Friend List</h1>
    {% if friends %} 
      <ul>
        <!-- Checking if there are any friends or not -->
        {% for friend in friends %}
          <li>
            {{ friend.name }} - {{ friend.email }}
            <form action="{{ url_for('delete_friend', id=friend.id) }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">Delete</button>
            </form>
            <form action="{{ url_for('view_profile', email=friend.email) }}" method="get">
              <button type="submit">View Profile</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No friends found.</p>
    {% endif %}
    <hr>
    <h2>Add Friend</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('add_friend') }}" method="post">
      <div>
        <label for="name">username:</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
      </div>
      <button type="submit">Add Friend</button>
    </form>
  </body>
</html>
