<html>
    <head>
        <title>"Sigma Mail"</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
    <body>
        
        <h1>Welcome to S-Mail, {{ name }}</h1>

        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li><form action="{{ url_for('compose') }}" method="post">
                        <button class="nav-link" type="submit">Compose message</button>
                    </form></li>
                    <li><form action="{{ url_for('sent') }}">
                        <button class="nav-link" type="submit">View sent messages</button>
                    </form></li>
                    <li></li><form action="{{ url_for('view_bookmark') }}">
                        <button class="nav-link" type="submit">View bookmarked</button>
                    </form></li>
                    <li class ="nav-item"><form action="{{ url_for('todo') }}" method="post"> <!-- call the todo function in the routes.py when the user click the button-->
                        <button class="nav-link" type="submit">To-Do List</button>
                    </form></li>
                    
                    <li class ="nav-item"><form action="{{ url_for('friend_list') }}" method="post">
                    <button class="nav-link" type="submit">Friend List</button> 
                    </form></li>
                    <li class ="nav-item"><form action="{{ url_for('profile') }}" method="post">
                        <button class ="nav-link"type="submit">Profile</button> 
                  </form></li> 
                    <li class ="nav-item"><form action="{{ url_for('logout') }}" method="post">
                        <button class="nav-link" type="submit">Logout</button>
                    </form></li>
                    <li><form action="{{ url_for('settings') }}">
                        <button class="nav-link" type="submit">Settings</button>
                    </form></li>
                </ul>
                <form class="d-flex" action="{{ url_for('search_results') }}" method="get">
                    <input class="form-control me-2" type="text" name="query" id="search_query" placeholder="Search messages ..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </nav>
        <br>
        
        <div class="container-fluid">
        <h2>Inbox</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flashes">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
        <br>
        <form method="post" action="{{ url_for('mainpage') }}">
            <label>Sort by:</label>
            <select name = "sort">
            <option value="" selected="selectd" hidden="hidden">Choose here</option>
            <option value="Newest first">Newest first</option>
            <option value="Oldest first">Oldest first</option>
        </select>
            <button class="btn btn-primary" type="submit">Sort</button>
        </form>
        
        Sorted by: {{ sort_by }}
        <br><br>
        <tbody>
            {%if sort_by == 'Newest first'%}
            {% for message in des %}
                <tr>
                    <time>{{ message.timestamp.strftime('%Y-%m-%d %I:%M %p') }}</time>
                    <br>
                    <td>From: {{ message.sender.username }}</td>
                    <br>
                    <td>Subject: {{ message.subject }}</td>
                    <br>
                    <td><a href="{{ url_for('message', message_id=message.id) }}">View Message</a></td>
                    <br>
                    <td>
                        {% if message.bookmark %}
                            <form method="post" action="{{ url_for('unbookmark', message_id=message.id) }}">
                                <button type="submit">Unbookmark</button>
                            </form>
                        {% else %}
                            <form method="post" action="{{ url_for('bookmark', message_id=message.id) }}">
                                <button type="submit">Bookmark</button>
                            </form>
                        {% endif %}
                    </td>
                    <br>
                </tr>
            {% endfor %}
            {%else%}
            {% for message in asc %}
                <tr>
                    <time>{{ message.timestamp.strftime('%Y-%m-%d %I:%M %p') }}</time>
                    <br>
                    <td>From: {{ message.sender.username }}</td>
                    <br>
                    <td>Subject: {{ message.subject }}</td>
                    <br>
                    <td><a href="{{ url_for('message', message_id=message.id) }}">View Message</a></td>
                    <br>
                    <td>
                        {% if message.bookmark %}
                            <form method="post" action="{{ url_for('unbookmark', message_id=message.id) }}">
                                <button type="submit">Unbookmark</button>
                            </form>
                        {% else %}
                            <form method="post" action="{{ url_for('bookmark', message_id=message.id) }}">
                                <button type="submit">Bookmark</button>
                            </form>
                        {% endif %}
                    </td>
                    <br>
                </tr>

            {% endfor %}
             {% endif %}
        </tbody>
    </div>
    </body>
</html>
