<html>
    <head>
        <title>"Sigma Mail"</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
    </head>
    <body>
        <h1>Welcome to S-Mail, {{ name }}</h1>
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
        
        <form action="{{ url_for('settings') }}">
            <button type="submit">Settings</button>
        </form>

        <form action="{{ url_for('sent') }}">
            <button type="submit">View sent messages</button>
        </form>
        <br>
        <form action="{{ url_for('compose') }}" method="post">
            <button type="submit">Compose message</button>
        </form><br>
        
        <form action="{{ url_for('todo') }}" method="post"> <!-- call the todo function in the routes.py when the user click the button-->
            <button type="submit">To-Do List</button>
        </form><br>
        <form action="{{ url_for('friend_list') }}" method="post">
          <button type="submit">Friend List</button> 
        </form><br> 
        <br>
        <br>
        <h2>Inbox</h2>
        <br>
        <form method="post" action="{{ url_for('mainpage') }}">
            <label>Sort by:</label>
            <select name = "sort">
            <option value="" selected="selectd" hidden="hidden">Choose here</option>
            <option value="Newest first">Newest first</option>
            <option value="Oldest first">Oldest first</option>
        </select>
            <button type="submit">Sort</button>
        </form>
        
        Sorted by: {{ sort_by }}
        <br><br>
        <tbody>
            {%if sort_by == 'Newest first'%}
            {% for message in des %}
                <tr>
                    <time>{{ message.timestamp.strftime('%Y-%m-%d %I:%M %p') }}</time>
                    <br>
                    <td>From: {{ message.sender.username }}</td>
                    <br>
                    <td>Subject: {{ message.subject }}</td>
                    <br>
                    <td><a href="{{ url_for('message', message_id=message.id) }}">View Message</a></td>
                    <br>
                    <br>
                </tr>
            {% endfor %}
            {%else%}
            {% for message in asc %}
                <tr>
                    <time>{{ message.timestamp.strftime('%Y-%m-%d %I:%M %p') }}</time>
                    <br>
                    <td>From: {{ message.sender.username }}</td>
                    <br>
                    <td>Subject: {{ message.subject }}</td>
                    <br>
                    <td><a href="{{ url_for('message', message_id=message.id) }}">View Message</a></td>
                    <br>
                    <br>
                </tr>

            {% endfor %}
             {% endif %}
        </tbody>
