<form action="{{ url_for('mainpage') }}">
  <button type="submit">Back</button>
</form>
<h1>Sent Messages</h1>

  {% for message in messages %}
    <div class="message">
      <p><strong>To:</strong> {{ message.recipient.username }}</p>
      <p><strong>Subject:</strong> {{ message.subject }}</p>
      <p><strong>Date:</strong> {{ message.timestamp.strftime('%Y-%m-%d %I:%M %p') }}</p>
      <td><a href="{{ url_for('message', message_id=message.id) }}">View Message</a></td>
      <br>
      <br>
    </div>
    <div>
      <span>{{ message.content }}</span>
      <form action="/undo/{{ message.id }}" method="POST">
          <button type="submit">Undo</button>
      </form>
  </div>
  {% endfor %}